<br><br><small>MITRE: Approved for Public Release. Distribution Unlimited. Case Number 19-3439.</small>

<script
  src="https://unpkg.com/littlefoot/dist/littlefoot.js"
  type="application/javascript"
></script>
<script type="application/javascript">
  littlefoot.default(
	  {
	    activateOnHover: true,
	    hoverDelay: 100,
	    buttonTemplate: "<button aria-label=\"Footnote <% number %>\" class=\"littlefoot__button\" id=\"<% reference %>\" title=\"See Footnote <% number %>\"/><% number %></button>"
	  }
  )
</script>

<script src="https://cdn.usefathom.com/script.js" data-site="URVHCNQA" defer></script>